@import url("https://fonts.googleapis.com/css?family=Roboto:500");

.Header {
  float: right;
  background: transparent;
  color: white;
  height: 64px;
  width: 775px;
  border-radius: 2px 2px 30px 30px;
  position: fixed;
  width: 95vw;
}

.Header ul {
  list-style: none;
  margin: 0;
}

.Header ul li:hover {
  opacity: 1;
}

.header-li {
  font-family: "Roboto", sans-serif;
  margin-right: 3rem;
  padding: 1.5rem;
  float: right;
  border: 0;
  cursor: pointer;
  opacity: 0.6;
}
